
#mainbar {
	width: 1910px;
	height: 950px;
	margin: 0px auto;
	padding: 20px 20px 9px;
	background: green;
	background: linear-gradient(lightgreen,green, lightgreen);
	border-radius: 35px;
	box-shadow: 2px 6px black, 6px 10px 15px rgba(0, 0, 0, 1);
}


 .screen1 {
	height: 90px;
	width: 485px;
	float: center;
	padding: 0 10px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	display: inline-block;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	font-size: 80px;
	line-height: 85px;
	text-align: center;
	color: black;
	text-decoration-style: white;
	text-decoration-color: white;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	text-align: center;
	letter-spacing: 1.5px;
	margin-left: 550px;
}



.screen {
	height: 700px;
	width: 240px;
	float: center;
	margin-left: 40px;
	padding: 0px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	font-size: 40px;
	line-height: 55px;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	text-align: center;
	letter-spacing: 1.5px;
}



.screen2 {

	height: 700px;
	width: 240px;
	float: center;
	margin-left: 40px;
	padding: 0px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	font-size: 40px;
	line-height: 55px;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	text-align: center;
	letter-spacing: 1.5px;
}



button  {
      
	height: 120px;
	width: 245px;
	float: center;
	padding: 0 10px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 15px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.4);
	font-size: 25px;
	line-height: 85px;
	text-align: center;
	color: black;
	text-decoration-style: white;
	text-decoration-color: white;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	text-align: center;
	letter-spacing: 1.5px;

}

#eval {
color:red;
height: 80px;
width: 345px;
background-image: url()
background-size: 320px 80px ;
margin-left: 180px;


}

#visa {
color:red;
height: 80px;
width: 145px;
margin-left: 5px;




}

#clear {
	background-color: red;
color:red;
height: 80px;
width: 145px;
float: center;
margin-left: 450px;


}