
<!DOCTYPE html>
<html lang="en">
<head>


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>
</head>
<body class="container">

<header>
    
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>

<div class="form-group">
  <label for="usr">Name:</label>
  <input type="text" class="form-control" id="usr">
</div>
<form action="/results" method="get">
<input type="submit" value="Get the resturants names"/>
</form>

<footer>
   
</footer>

</body>
</html>




