.button1 {
  display: inline-block;
  border-radius: 15px;
  background-color: red;
  border-top-color: black;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 0px;
  width: 200px;
  height: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 100px;
  margin-left: 300px;
  margin-right:0px;
  margin-bottom:0px;
  box-shadow: 0px 45px 45px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family:'Abril Fatface', cursive;
  position: absolute;
}
  .buttom1 a:hover,  {
    background-color:#CFD8DC ;
}

.button2 {
  display: inline-block;
  border-radius: 15px;
  background-color: green;
  border-bottom-color: black;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 0px;
  width: 200px;
  height: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 100px;
  margin-left: 100px;
  margin-right:0px;
  margin-bottom: 0px;
  box-shadow: 0px 45px 45px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family:'Abril Fatface', cursive;
  position: absolute;
}
  .buttom2 a:hover,  {
    background-color:#CFD8DC ;
}

.button3 {
   display: inline-block;
  border-radius: 15px;
  background-color: blue;
  border-bottom-color: black;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 0px;
  width: 200px;
  height: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 100px;
  margin-left: 500px;
  margin-right:0px;
  margin-bottom: 0px;
  box-shadow: 0px 45px 45px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family:'Abril Fatface', cursive;
  position: absolute;
}
  .buttom3 a:hover,  {
    background-color:#CFD8DC ;
}

.button4 {
  
  display: inline-block;
  border-radius: 15px;
  background-color: yellow;
  border-bottom-color: black;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 0px;
  width: 200px;
  height: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 100px;
  margin-left: 700px;
  margin-right:0px;
  margin-bottom: 0px;
  box-shadow: 5px 45px 45px 5px rgba(0,0,0.6,0.3);
  z-index: 1;
  font-family:'Abril Fatface', cursive;
  position: absolute;
}
  .buttom4 a:hover,  {
    background-color:#CFD8DC ;
}

.box {
  display: inline-block;
  border-radius: 15px;
  background-color: lightgreen;
  border-top-color: black;
  color: black;
  text-align: right;
  font-size: 60px;
  padding: 0px;
  width: 1720px;
  height: 900px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 100px;
  margin-left: 0px;
  margin-right:0px;
  margin-bottom:0px;
  box-shadow: 0px 45px 45px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family:'Abril Fatface', cursive;
  overflow: hidden;
 
}
  .container {
   width: 300px;
    height: 100px;
    background-color: yellow;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 15px;
}


#c {
  width: 500%;
  height:500%;

}


