<!DOCTYPE html>
<html>
<head>
    <title>Yelp API</title>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <nav class="navbar navbar-default" id="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" id="navbar">Yelp!</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
    <center><div class="jumbotron">
        <h1 class="text-center">Servin' it up!</h1>
    </div>
       <center>
    <form action="/" method="get">
        <button type='submit' class="btn btn-danger">Check a different city</button>
    </form>
    <br>
 
    <div id="End">
        <% for (var i = 0; i<11; i++) { %>
     <a href=<%=urlArr[i]%><li><%= idArr[i] %></a><div class="stars" data-rating= <%= ratingArr[i] %> data-num-stars="5"></div><div><%= priceArr[i] %></div> </li>
        <% }; %>
    </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $.fn.stars = function() {
        return $(this).each(function() {

            var rating = $(this).data("rating");

            var numStars = $(this).data("numStars");

            var fullStar = new Array(Math.floor(rating + 1)).join('<i class="fa fa-star"></i>');

            var halfStar = ((rating%1) !== 0) ? '<i class="fa fa-star-half-empty"></i>': '';

            var noStar = new Array(Math.floor(numStars + 1 - rating)).join('<i class="fa fa-star-o"></i>');

            $(this).html(fullStar + halfStar + noStar);

        });
    }
    $('.stars').stars();
</script>  
</body>
</html>